--extra-index-url https://download.pytorch.org/whl/cu122
diffusers[torch]==0.31.0
xformers==0.0.26.post1
transformers>=4.25.1
bitsandbytes==0.35.4
decord==0.6.0
pytorch-lightning<2
omegaconf==2.2.3
nerfacc==0.3.3
trimesh==3.9.8
pyhocon==0.3.57
icecream==2.1.0
PyMCubes==0.1.6
accelerate==1.0.1
huggingface-hub==0.26.5
numpy==1.26.4
modelcards
einops
ftfy
piq
matplotlib
imageio
imageio-ffmpeg
scipy
pyransac3d
torch_efficient_distloss
tensorboard
rembg
boto3
onnxruntime

# evaluation
openexr
pyexr
lpips
kornia
triton==2.2.0

# pip install torch==2.3.1 torchvision==0.18.1 torchaudio==2.3.1 --index-url https://download.pytorch.org/whl/cu122